PORT=4000
MONGO_URL=mongodb://127.0.0.1:27017/rest-api
UPLOAD_PATH=uploads/
ACCESS_TOKEN_PRIVATE_KEY=
ACCESS_TOKEN_PUBLIC_KEY=
REFRESH_PRIVATE_KEY=
REFRESH_PUBLIC_KEY=
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=1y
